* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  max-width: 65vw;

  border: 1px solid black;
  margin: 20px;
}

section {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}

span {
  border: 1px solid black;
  text-align: center;
  height: 100px;
}

.week {
  flex-basis: 77%;
}

.week span {
  padding-top: 20px;
}

.week span:nth-child(1) {
  flex: 1 1 100%;
}

.week span:nth-child(2) {
  flex: 1 1 15%;
}

.week span:nth-child(3) {
  flex: 1 1 15%;
}

.week span:nth-child(4) {
  flex: 1 1 15%;
}
.week span:nth-child(5) {
  flex: 1 1 15%;
}

.week span:nth-child(6) {
  flex: 1 1 15%;
}

.week span:nth-child(7) {
  flex: 1 1 100%;
}

.week span:nth-child(8) {
  flex: 1 1 50%;
}

.week span:nth-child(9) {
  flex: 1 1 50%;
}

.notes {
  flex-direction: column;
  flex-basis: 23%;
  align-self: stretch;
}

.notes span {
  padding-top: 5px;
}

.notes > span:nth-child(1) {
  flex: 1 1 50%;
  height: 28%;
  width: 100%;
}

.notes > span:nth-child(2) {
  flex: 1 1 50%;
  height: 200px;
  width: 100%;
}
