* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body,
ul,
li {
  display: flex;
}

body {
  background-color: lightgrey;
  flex-wrap: wrap;
  width: 60vw;
}

body section ul {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 35px;
}

li {
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  height: 400px;
}

img {
  display: block;
  /* width: 100%; */
  height: auto;
  /* height: 80%; */
  object-fit: cover;

  overflow: hidden;

  align-self: center;
  flex-basis: 80%;
  overflow: hidden;
  height: auto;
  object-fit: cover;
}
