html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: Helvetica, sans-serif;
}

.header .description {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  margin-right: 60px;
  /* vertical-align: middle; */
}

.header .nav .nav-items li .links {
  display: inline-block;
  color: green;
  text-decoration: none;
  margin-right: 40px;
}

.header .nav {
  display: inline-block;
  /* vertical-align: middle; */
}

.header .nav .nav-items li {
  list-style-type: none;
  display: inline-block;
}
