/* TODO */

@media screen and (max-width: 600px) {
  #top-bar ul li:nth-child(4) {
    display: none;
  }

  #main-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main-menu img {
    padding: 0;
  }

  #main-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
  }

  #main-menu ul li {
    border: 1px solid brown;
    text-align: center;
  }

  #left-aside {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  #left-aside article {
    border: none;
  }

  #news {
    margin: 10px;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #news article {
    width: 100%;
    margin: 0;
  }

  #right-aside {
    margin: 20px;
    margin-left: 5px;
    width: auto;
    /* width: 27%; */
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer ul {
    width: auto;
    margin-left: 0;
    padding-left: 25px;
  }

  footer ul:nth-child(1),
  footer ul:nth-child(2) {
    margin-bottom: 0px;
  }
}
