@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

* {
  box-sizing: border-box;
}

form {
  /* border: 1px solid rgb(170, 170, 170); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  position: relative;
}

form i {
  position: absolute;
  left: 118px;
}

form fieldset legend {
  position: absolute;
  top: 9px;
  left: 24px;
  border: 1px solid black;
  padding: 2px 40px;
  background-color: beige;
}
